<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= category.color %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= category.order %>
  </p>

  <p>
    <strong>Is visible:</strong>
    <%= category.is_visible %>
  </p>

</div>
